In [4]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 5GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [2]:
import pandas_profiling
from pandas_profiling import ProfileReport
# pip install --user pandas-profiling==2.8.0 where 2.8.0 is current version on  https://pypi.org/project/pandas-profiling/
%matplotlib inline

ModuleNotFoundError: No module named 'pandas_profiling'

In [7]:

# now load the data into a pandas dataframe
df = pd.read_csv('train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [17]:
conditions = [
    #Over 14
    pd.notnull(df["Age"]) & (df["Age"] > 14),
    #1 spouse, more than 2 kids
    (((df["SibSp"] == 1).any() & df["Parch"] == 3).any()),
    #1 spouse, no kids
    (pd.isnull(df["Age"]).any() & df["SibSp"].any() == 1 & df["Parch"].any() == 0),
    #0 SibSp & 0 Parch
    (pd.isnull(df["Age"]).any() & (df["SibSp"].any() == 0 & df["Parch"].any() == 0)),
    #14 and Under
    (pd.notnull(df["Age"]) & (df["Age"] <= 14)),
    #greater than 1 Sibling (i.e. NOT SPOUSE)
    (pd.isnull(df["Age"]) & (df["SibSp"] > 1)).any()
    
   
]

values = [1, 1, 1, 1, 0, 0]

df["Adult"] = np.select(conditions, values)

df.head()
                
df["Adult"].value_counts()

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [16]:
df.to_csv('train_age.csv')